.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  padding: 1rem 0;
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newIdeaButton {
  margin-top: 1rem;
  background: #64dbfa;
  border-radius: 8px 8px;
  color: #282c34;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.7rem;
  outline: none;
}

.section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tile {
  height: 150px;
  width: 15vh;
  margin: 2rem;
  padding: 2rem;
  background: navajowhite;
  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

.deleteBtn {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteBtn {
  visibility: visible;
}